html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: system-ui, sans-serif;
  text-align: center;
  margin-top: -2em;
  height: 100%;
}

code {
  font-family: "JetBrains Mono", monospace;
}

#particles {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.header img {
  box-shadow: 0 4px 22px #efeff4;
}

.header h1 {
  margin-bottom: 0;
}

.header p {
  font-size: 14pt;
  font-weight: 600;
}

.install {
  margin-bottom: 3em;
}

.install p {
  margin-bottom: 2em;
  color: gray;
}

.install code {
  width: fit-content;
  margin: 0 auto;
  background: white;
  padding: 1em;
  box-shadow: 0 4px 12px #efeff4;
  border-radius: 12px;
  border: 2px solid #efeff4;
  color: #007aff;
}

.links a {
  color: white;
  background-color: #007aff;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 10px;
  border: 2px solid #007aff;
  font-weight: 600;
  margin: 0 4px;
}
