[build]
command = "curl -L --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh | bash && task setup && task build"
publish = "site/dist"

[dev]
framework = "#static"

[build.processing.html]
pretty_urls = true
