body {
    background-color: #111827;
    color: #f9fafb;
}

pre > code {
    font-family: "JetBrains Mono", monospace;
}

/* Split pane gutter */

.gutter {
    cursor: ew-resize;
    margin: auto 4px;
    padding: 2px;
    height: 3em;
    border-radius: 6px;
    background-clip: content-box;
    background-color: rgba(55, 65, 81, 0.5);
}

/* Prism.js line numbers */

pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
    position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line-numbers-rows > span {
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #636f88;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}
