@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap");

pre {
    font-family: "JetBrains Mono", monospace;
}

.editor-output-decoration {
    margin-left: 1.5rem;
    color: gray !important;
}
