@import "tailwindcss";

@theme {
    --font-sans: "Inter Variable", sans-serif;
    --font-mono: "JetBrains Mono Variable", monospace;
    --paragraph-spacing: 1rem;
}

@layer base {
    html {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        scroll-behavior: smooth;
        font-weight: 500;
    }

    body {
        font-family: Inter, sans-serif;
        @apply bg-white text-black;
    }

    main {
        @apply mx-auto max-w-4xl px-4;
    }

    a:not(.no-underline) {
        @apply underline decoration-sky-500 decoration-2 underline-offset-1;
    }

    .btn {
        @apply rounded-md px-4 py-2 font-bold;
        text-decoration: none;
    }

    .btn.btn-gray {
        @apply bg-gray-50 text-sky-500;
    }

    .btn.btn-blue {
        @apply bg-sky-500 text-white;
    }

    .disable-scrollbars::-webkit-scrollbar {
        background: transparent; /* Chrome/Safari/Webkit */
        width: 0px;
        height: 0px;
    }

    .disable-scrollbars {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE 10+ */
    }

    .markdown {
        h1,
        h2,
        h3 {
            @apply mt-10 mb-2.5 font-semibold;
        }

        h1 {
            @apply text-2xl md:text-3xl;
        }

        h2 {
            @apply text-xl md:text-2xl;
        }

        h3 {
            @apply text-lg md:text-xl;
        }

        p {
            @apply mb-(--paragraph-spacing) leading-[175%];
        }

        code:not(pre > code) {
            @apply rounded-md border-current/10 px-1;
            border-width: var(--border-width);
        }

        pre:has(code) {
            @apply mb-(--paragraph-spacing) rounded-xl border-[1.5px] border-current/10 p-4;
        }
    }
}
