@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Inter, sans-serif;
}

pre,
code {
    font-family: "JetBrains Mono", monospace;
}

body {
    @apply p-4 max-w-screen-lg mx-auto;
}

main {
    @apply flex flex-row gap-4;
}

body > h1 {
    @apply mt-4 my-8 text-4xl font-semibold;
}

main > nav {
    @apply hidden lg:block w-60;
}

main > nav > ul > li > a {
    @apply inline-block w-full -mx-2 px-2 py-0.5 rounded-lg text-gray-700 hover:bg-gray-50 hover:text-black transition-colors;
}

main > ul {
    @apply flex-1 overflow-x-hidden;
}

main > ul > li {
    @apply mb-4;
}

main > ul > li > mark {
    @apply inline-block mb-1 px-1.5 py-[1px] rounded-md text-sm;
}

main > ul > li > mark[data-wipple-type="constant"] {
    @apply bg-blue-100 text-blue-600;
}

main > ul > li > mark[data-wipple-type="type"] {
    @apply bg-purple-100 text-purple-600;
}

main > ul > li > mark[data-wipple-type="trait"] {
    @apply bg-purple-100 text-purple-600;
}

main > ul > li > details > summary {
    @apply flex flex-row items-baseline w-fit gap-2 mb-2;
}

main > ul > li > details > summary > h2 {
    @apply text-2xl font-semibold;
}

main > ul > li > details > summary::after {
    content: "⋯";
    @apply flex items-center justify-center text-2xl font-semibold rounded-lg px-1.5 h-5 bg-gray-50 text-gray-500 hover:bg-gray-100 hover:text-gray-800 transition-colors cursor-pointer;
}

main > ul > li > details[open] > summary::after {
    @apply bg-blue-500 text-white hover:bg-blue-600;
}

main > ul > li > details > pre {
    @apply bg-gray-50 mb-4 px-2.5 py-2 rounded-lg overflow-x-scroll;
}

main > ul > li > p {
    @apply prose prose-code:before:content-none prose-code:after:content-none max-w-none;
}

pre[class*="language-"] {
    color: #24292e;
}

pre[class*="language-"] .token.string {
    color: #032f62;
}

pre[class*="language-"] .token.comment {
    color: #6a737d;
}

pre[class*="language-"] .token.keyword {
    color: #e36209;
}

pre[class*="language-"] .token.class-name {
    color: #6f42c1;
}

pre[class*="language-"] .token.operator {
    color: #005cc5;
}

pre[class*="language-"] .token.function {
    color: #6f42c1;
}

pre[class*="language-"] .token.number {
    color: #005cc5;
}

pre[class*="language-"] .token.punctuation {
    color: #24292e;
}
