body {
    font-family: system-ui, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    animation: fade-in ease 0.75s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 0.25s;
}

body > p {
    font-size: x-large;
    opacity: 50%;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bouncing-loader {
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;
}

.bouncing-loader > div {
    width: 6px;
    height: 6px;
    margin: 3px 3px;
    border-radius: 50%;
    background-color: #a3a1a1;
    opacity: 1;
    animation: bouncing-loader 0.6s infinite alternate;
}

@keyframes bouncing-loader {
    to {
        opacity: 0.1;
    }
}

.bouncing-loader > div:nth-child(2) {
    animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
    animation-delay: 0.4s;
}
