@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=JetBrains+Mono:ital,wght@0,400;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Segoe UI Emoji";
    src: url(/playground/fonts/seguiemj.ttf) format("truetype");
}

body {
    @apply bg-white dark:bg-gray-900 ui-font;
    tab-size: 2;
}

.ui-font {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

pre,
code {
    @apply code-font;
}

.code-font {
    font-family: "JetBrains Mono", monospace;
    font-variant-ligatures: none;
}

.sortable-helper {
    @apply z-10;
}

.code-editor * {
    white-space: pre-wrap !important;
    word-break: break-all !important;
}

.code-editor-outlined {
    @apply bg-white dark:bg-gray-900 border-2 border-gray-100 dark:border-gray-700 overflow-clip transition-all;
}

.code-editor-button {
    @apply code-editor-outlined -my-0.5 hover:bg-gray-200 dark:hover:bg-gray-800 dark:bg-gray-900 disabled:opacity-50;
}

.diagnostic-errors {
    @apply bg-sky-50 dark:bg-sky-900 dark:bg-opacity-40;
}

.diagnostic-warnings {
    @apply bg-yellow-50 dark:bg-yellow-900 dark:bg-opacity-40;
}

.code-editor-markdown code,
.diagnostic-errors code,
.diagnostic-warnings code {
    @apply bg-gray-50 dark:bg-gray-800 text-gray-900 dark:text-gray-50 rounded-md px-1.5;
}

.code-editor-markdown a {
    @apply text-blue-500;
}

.welcome-button {
    @apply bg-gray-200 dark:bg-gray-400 text-gray-600 dark:text-gray-800 rounded-lg px-3 py-2;
}

.disable-scrollbars::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
    height: 0px;
}

.disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}
