.language-wipple {
    color: #24292e;
}

.language-wipple .token.template-before,
.language-wipple .token.template-after {
    @apply text-white text-opacity-10 bg-blue-500;
}

.language-wipple .token.template-before {
    @apply rounded-l-lg;
}

.language-wipple .token.template-after {
    @apply rounded-r-lg;
}

.language-wipple .token.template-content {
    @apply text-white bg-blue-500;
}

.language-wipple .token.punctuation {
    color: #24292e;
}

.language-wipple .token.comment {
    color: #6a737d;
}

.language-wipple .token.number {
    color: #032f62;
}

.language-wipple .token.text {
    color: #032f62;
}

.language-wipple .token.keyword {
    color: #e36209;
}

.language-wipple .token.type {
    color: #6f42c1;
}

.language-wipple .token.trait {
    color: #6f42c1;
}

.language-wipple .token.operator {
    color: #005cc5;
}

.language-wipple .token.function {
    color: #6f42c1;
}

.language-wipple .token.syntax {
    color: #e36209;
}

@media (prefers-color-scheme: dark) {
    .language-wipple {
        color: #e1e4e8;
    }

    .language-wipple .token.punctuation {
        color: #e1e4e8;
    }

    .language-wipple .token.comment {
        color: #6a737d;
    }

    .language-wipple .token.number {
        color: #9ecbff;
    }

    .language-wipple .token.text {
        color: #9ecbff;
    }

    .language-wipple .token.keyword {
        color: #ffab70;
    }

    .language-wipple .token.type {
        color: #a473ff;
    }

    .language-wipple .token.trait {
        color: #a473ff;
    }

    .language-wipple .token.operator {
        color: #79b8ff;
    }

    .language-wipple .token.function {
        color: #a473ff;
    }

    .language-wipple .token.syntax {
        color: #ffab70;
    }
}

.language-wipple .token.diagnostic {
    @apply underline underline-offset-4;
}

.language-wipple .token.diagnostic-error {
    @apply text-red-600 bg-red-100 dark:text-red-500 dark:bg-red-900 dark:bg-opacity-20;
}

.language-wipple .token.diagnostic-error * {
    color: inherit;
}

.language-wipple .token.diagnostic-warning {
    @apply text-yellow-600 bg-yellow-100 dark:text-yellow-500 dark:bg-yellow-800 dark:bg-opacity-50;
}

.language-wipple .token.diagnostic-warning * {
    color: inherit;
}

.language-wipple .token.diagnostic-note {
    @apply text-sky-600 bg-sky-100 dark:text-sky-500 dark:bg-sky-900 dark:bg-opacity-20;
}

.language-wipple .token.diagnostic-note * {
    color: inherit;
}

.language-wipple .token.hover {
    @apply bg-black dark:bg-white bg-opacity-10 dark:bg-opacity-10;
}
