<nav class="fixed top-0 left-0 right-0 z-50 print:hidden">
    <div
        class="flex items-center gap-4 p-4 flex-shrink-0 overflow-auto text-gray-500 bg-white bg-opacity-75 backdrop-blur-lg disable-scrollbars"
    >
        <a href="/" class="no-underline flex-shrink-0 flex flex-row items-center gap-2.5">
            <img src="/images/logo.svg" alt="Wipple" class="w-6 h-6" />

            <p class="text-black font-semibold">Wipple</p>
        </a>

        <a href="/playground/" class="no-underline">Playground</a>

        <a href="/docs/" class="no-underline">Guide</a>
    </div>
</nav>
