<nav class="print:hidden">
    <div
        class="bg-opacity-75 disable-scrollbars flex flex-shrink-0 items-center gap-4 overflow-auto bg-white p-4 text-gray-500 backdrop-blur-lg"
    >
        <a href="/" class="flex flex-shrink-0 flex-row items-center gap-2.5 no-underline">
            <img src="/images/logo.svg" alt="Wipple" class="h-6 w-6" />

            <p class="font-semibold text-black">Wipple</p>
        </a>

        <a href="/playground/" class="no-underline">Playground</a>

        <a href="/docs/" class="no-underline">Guide</a>
    </div>
</nav>
