.codeflask,
.codeflask__lines {
  background: #1a2336;
  color: #d1d5db;
}

.codeflask__textarea,
.codeflask__code,
.codeflask__lines {
  font-size: 12pt !important;
  font-family: "JetBrains Mono", monospace !important;
  line-height: 145% !important;
}

.codeflask__textarea {
  color: initial !important;
  caret-color: #d1d5db !important;
}

.codeflask__lines {
  color: #6b7280 !important;
}

.codeflask .token.punctuation {
  color: #6b7280;
}

.codeflask .token.operator {
  color: #6a83b0;
}

.codeflask .token.string {
  color: #b0996a;
}

.codeflask .token.comment {
  color: #6b7280;
}

.codeflask .token.number {
  color: #84b097;
}

.codeflask .language-wipple-output-inactive {
  color: #6b7280;
}

.codeflask .language-wipple-output-active {
  color: #d1d5db;
}

.codeflask .language-wipple-output-error {
  color: #e66666;
}
