name: Tests
on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: go-task/setup-task@v1
            - uses: actions/setup-go@v5
              with:
                  go-version: "1.25"
                  cache-dependency-path: go.work.sum
            - run: task test:coverage
            - uses: codecov/codecov-action@v3
              with:
                  fail_ci_if_error: true
                  files: ./coverage.out
                  token: ${{ secrets.CODECOV_TOKEN }}
