name: Tests
on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v6
              with:
                  node-version: 24
            - uses: go-task/setup-task@v1
            - uses: actions-rust-lang/setup-rust-toolchain@v1
            - run: curl -LsSf https://insta.rs/install.sh | sh
            - run: task test
